<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" >
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>${RUNLOG}</file>
  <append>false</append>
  <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
  </encoder>
</appender>
  
  
  <appender name="FILE-WARN" class="ch.qos.logback.core.FileAppender">
  <file>${WARNLOG}</file>
  <append>false</append>
  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
  </filter>
  <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  
  <appender name="FILE-ERR" class="ch.qos.logback.core.FileAppender">
  <file>${ERRLOG}</file>
  <append>false</append>
  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
  </filter>
  <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  

  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>${STDOUT-LEVEL}</level>
    </filter>
    <encoder>
      <pattern>[%-5level] %msg%n</pattern>
    </encoder>
    
  </appender>
  
  <root level="${ROOT-LEVEL}">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    <appender-ref ref="FILE-WARN"/>
    <appender-ref ref="FILE-ERR"/>
  </root>
    
</configuration>